body * {
    box-sizing: border-box;
    width: 50vh;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border-style: solid;
    border-width: 1px;
    padding-bottom: 10;
    }
    
button-container {
    padding-inline: 1vw;
    padding-bottom: 1vh;
    }

button {
    width: fit-content;
    }

p{
    padding-inline: 1vw;
}

h2{
    padding-inline: 1vw;
}
